@charset "UTF-8";
.table_content {
	/* 라인선 통합 */
	border-collapse: collapse;
	border-top-width: 2px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #333;
	border-bottom-color: #333;
}
/* th , td가 공통으로 적용되는 스타일 */
.table_content th,td{
	margin: 0px;
	/* 0px(top) 0px(right) 0px(bottom) 0px(left) => 시계방향 */
	padding: 8px;
	font-size: 9px;
}
.table_content th{
	background-color: #999;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
}
.table_content td{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #333;
}
img{
	
	-webkit-border-radius:12px;
	border-radius:12px;
	/*
	   -webkit => 크롬 
	   border-radius : IE
	*/
}


